<!DOCTYPE html>
<html ng-app="gallery">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bildergalerie</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
  <script src="js/gallery.js"></script>
  <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>

</head>

<body>

  <div class="navbar navbar-default moreMarginTop" role="navigation">
    <div class="container-fluid moreMarginLeft">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <a class="navbar-brand bigger" href="#/"> Galerie</a>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <li ng-class="{ active: isActive('/images') }"><a href="#/images"><span class="glyphicon glyphicon-picture"></span> Album ansehen</a></li>
          <li ng-show="auth.user" ng-class="{ active: isActive('/images_new') }"><a href="#/images_new"><span class="glyphicon glyphicon-plus"></span> Bilder hinzufügen</a></li>
        </ul>

        <div class="navbar-right"> <!--ng-controller="LoginController"-->
          <form class="navbar-form" role="form" ng-show="!auth.user && !auth.inProgress" ng-submit="login()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Benutzername" ng-model="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Passwort" ng-model="Password">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> anmelden</button>
          </form>

          <!--div ng-show="!auth.user && auth.inProgress">
            <p class="navbar-text">
              <progressbar class="progress-striped active da-nomargin" value="100">
                <span class="da-progresstext">Anmeldung läuft...</span>
              </progressbar>
            </p>
          </div-->

          <!--div ng-show="auth.user">
            <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> angemeldet als {{auth.user.Username}}</p>
            <button type="button" class="btn btn-primary navbar-btn" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> abmelden</button>
          </div-->

        </div>

      </div>
    </div>
  </div>

  <div class="container" ng-view ></div>

</body>
</html>
