<!DOCTYPE html>
<html ng-app="gallery">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bildergalerie</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
  <script src="js/gallery.js"></script>
  <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="js/angular-file-upload-all.js"></script>

</head>

<body>

  <div class="navbar navbar-default moreMarginTop" role="navigation" ng-controller="LoginController">
    <div class="container-fluid moreMarginLeft">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <a class="navbar-brand bigger" href="#/"> Galerie</a>
        </div>
      </div>
      <div class="collapse navbar-collapse"  ng-controller="AddImageController">
        <ul class="nav navbar-nav">
          <li><a href="#/images"><span class="glyphicon glyphicon-picture"></span> Album ansehen</a></li>
          <li ng-show="auth.loggedIn"><button class="btn btn-default navbar-btn" ng-file-select ng-model="file" ng-file-change="upload()"><span class="glyphicon glyphicon-upload"></span> Bild hochladen</button></li>
        </ul>

        <div class="navbar-right">
          <form class="navbar-form" role="form" ng-show="!auth.loggedIn">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Benutzername" ng-model="logInOut.Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Passwort" ng-model="logInOut.Password">
            </div>
            <button ng-click="auth.login(logInOut.Username, logInOut.Password)" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> anmelden</button>
          </form>


          <div ng-show="auth.loggedIn">
            <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> angemeldet als {{auth.Username}}</p>
            <button ng-click="logout()" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-out"></span> abmelden</button>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container" ng-view></div>

</body>
</html>
