.myCarousel {
  width: 700px;
  margin: auto;
}

.colorGray {
  color: gray;
}

.moreMarginLeft {
  margin-left: 100px;
  margin-right: 100px;
}

.bigger {
  font-size: 50px;
}

.marginTop {
  margin-top: 3em;
}

.moreMarginTop {
  margin-top: 2em;
}

.button {
  margin: 0.5em;
}

.marginTopBottom {
  margin-top: 1em;
  margin-bottom: 1em;
}

.moreMarginLeftRight {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.marginLeft {
  margin-left: 0.7em;
}

.marginBottom {
  margin-bottom: 1em;
}
