.myCarousel {
  width: 850px;
  margin: auto;
}

.colorGray {
  color: gray;
}

.moreMarginLeft {
  margin-left: 100px;
  margin-right: 100px;
}

.bigger {
  font-size: 50px;
}

.marginTop {
  margin-top: 3em;
}

.moreMarginTop {
  margin-top: 2em;
}

.button {
  margin: 0.5em;
}
