<div ng-controller="MainController">
  <div id="carousel-example-generic" class="carousel slide"  data-interval="false" ng-show="slides">

    <div class="carousel-inner limitedHeight" role="listbox">
      <div class="item">
        <img ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}" alt="">
      </div>
    </div>

    <a class="left carousel-control colorGray" href="#carousel-example-generic" role="button" data-slide="prev" ng-click="previousSlide()">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control colorGray" href="#carousel-example-generic" role="button" data-slide="next"  ng-click="nextSlide()">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
