<div ng-controller="AddImageController">

  <div class="col-md-3">
  </div>
  <div class="col-md-9 marginTop">
    <h1 class="marginBottom">Bilder hinzufügen</h1>

    <input name="file" type="file" ng-file-select ng-model="file">


    <div class="row">
      <div class="col-md-6 marginTopBottom text-left">
        <span class="glyphicon glyphicon-tag"></span>
        <span ng-repeat="tag in tags" class="label label-default moreMarginLeftRight">{{tag}}</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4">
        <input type="text" class="form-control" id="input" placeholder="weitere Tags, z.B. Natur, Architektur" ng-model="input" empty-to-null>
      </div>
      <button type="button" class="btn btn-default" ng-click="push(input)"><span class="glyphicon glyphicon-plus-sign"></span> hinzufügen</button>
    </div>

    <button type="button" class="btn btn-default moreMarginTop" ng-click="upload()"><span class="glyphicon glyphicon-save"></span> speichern</button>

  </div>

</div>
