<div ng-controller="ImagesController">
  <div class="myCarousel moreMarginTop">
    <carousel>
      <slide ng-repeat="image in images" active="active">
        <img ng-src="Images/{{image.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <div><span ng-repeat="tag in image.tags" class="label label-default moreMarginLeftRight">{{tag}}</span></div>
          <button type="button" ng-show="auth.loggedIn" class="btn btn-default button" ng-click="deleteImage(image.image)"><span class="glyphicon glyphicon-remove"></span> löschen</button>
        </div>
      </slide>
    </carousel>
  </div>
</div>
